html, body {
    height: 100%;
}

.background {
    width: 100vw;
    height: 100vh;
    background-image: radial-gradient(green, black);
    position: relative;
}

.portal {
    height: 300px;
    width: 300px;
    position: absolute;
    left: 20%;
    bottom: 20%;
    animation: rotation 50ms infinite;  
    border-radius: 80%;
    box-shadow: 0 0 60px 30px #fff,
    0 0 100px 60px rgb(0, 255, 85),
    0 0 140px 90px rgb(10, 107, 51);
}

@keyframes rotation {
    0% {transform: rotate(50deg)}
    20% {transform: rotate(150deg)}
    40% {transform: rotate(200deg)}
    60% {transform: rotate(250deg)}
    80% {transform: rotate(300deg)}
    100% {transform: rotate(360deg)}
}
